
/*---------- TABLE ----------*/
thead {
  /* background-color: white; */
  color: #f2b423;
}
thead th {
  /* color: #f2b423; */
  font-weight: normal;
  width:42vh;
}

.thMiddle {
  width: 5vh;
}

table,
th,
td {
  /* border: 1px solid black; */
  text-align: center;
  width: 100px;
}

table {
  width: 90vh;
  margin: 0 auto;
}

td,
tr {
  padding: 1px 6px;
  text-align: center;
}


