@import url("https://fonts.googleapis.com/css?family=Iceland&display=swap");

/*---------- GENERAL ----------*/
* {
  font-family: Iceland;
  /* background-color: #2d1063; 51269d */

}

*,
:before,
:after {
  box-sizing: border-box;
  color: white;
}

body {
  font-size: 16px;
  margin: 40px 0 0 0;
  background-color: #2d1063; /* 51269d */

}

td {
  color: white;
}

#title {
  margin-right: auto;
}

.txt-center {
  text-align: center;
}


/*----------  TYPOGRAPHY ------------*/
.txt-2 {
  font-size: 30px;
}

.txt-3 {
  font-size: 17px;
}

/*----------  NEON TITLES ------------*/

a.title2 {
  font-size: 10vh;
}

a.title3 {
  font-size: 5vh;
}

/*---------- SELECT ----------*/
select {
  border: none;
  border-bottom: 1px solid white;
}

.img-features {
  width: 10rem;
  height: 10rem;
}

.img-built-mongo {
  width: 12rem;
  height: 5rem;
  filter: grayscale(80%);
}