@import url("https://fonts.googleapis.com/css?family=Iceland&display=swap");

/*---------- GENERAL ----------*/
* {
  font-family: Iceland;
  background-color: #2d1063; /* 51269d */
}

*,
:before,
:after {
  box-sizing: border-box;
  color: white;
}

body {
  font-size: 16px;
  margin: 40px 0 0 0;
}

ul {
  display: flex;
  list-style-type: none;
  font-size: 20px;
  justify-content: flex-end;
  margin: 0px;
}

td {
  color: white;
}

#title {
  margin-right: auto;
}

.txt-center {
  text-align: center;
}

.txt-right {
  text-align: right;
}

.div-center {
  margin: auto;
}

.float-right {
  float: right;
}

.col-feature {
  width: 50%;
}

/*---------- SELECT ----------*/
select {
  border: none;
  border-bottom: 1px solid white;
}

.img-features {
  width: 10rem;
  height: 10rem;
}

.img-built-mongo {
  width: 12rem;
  height: 5rem;
  filter: grayscale(80%);
}

/*---------- TABLE ----------*/
thead {
  background-color: white;
  color: #f2b423;
}
thead th {
  color: #f2b423;
  font-weight: normal;
}

table,
th,
td {
  border: 1px solid white;
}

table {
  width: 260px;
}

td,
tr {
  padding: 1px 6px;
  text-align: center;
}

tfoot {
  color: #f2b423;
}

table,
th,
td {
  border: 1px solid black;
}