.recaptcha div {
  margin: 0 auto;
  margin-bottom: 10px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.signup-form button {
  border-radius: 25px;
}

select option {
  color: black;
}