.signup-form ul {
  display: table;
  table-layout: fixed;
  width: 100%;
  border: 1px solid red;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.signup-form li {
  text-align: center;
  display: table-row;
  background: pink;
}

.signup-form span {
  display: table-cell;
  vertical-align: middle;
  margin-top: 200px;
}

.recaptcha div {
  margin: 0 auto;
  margin-bottom: 10px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}